.information, .score {
    background-color: blanchedalmond;
}


body, html {
  height: 100%;
}

body {
      /* The image used */
      background-image: url("rock-paper-scissors-seamless-pattern.jpg");
      /* Full height */
      height: 100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

#blackBox {
    background-color: black;
    border: solid black;
    border-radius: 20px;
    width: 80%;
    padding: 50px;
    display: block;
    margin: 50px auto auto auto;

    }

h1 {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

button#start {
    display: block;
    margin: 20px auto;
    background-color: red;
    color: whitesmoke;
    font-size: 90px;
    border: solid red;
    border-radius: 20px;
    -webkit-box-shadow: 23px 22px 30px -17px rgba(121, 120, 132, 1);
    -moz-box-shadow: 23px 22px 30px -17px rgba(121, 120, 132, 1);
    box-shadow: 23px 22px 30px -17px rgba(121, 120, 132, 1);
    padding: 0 15px;
}

h1, button {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Baloo 2', cursive;
    font-family: 'Montserrat', sans-serif;
}