.information, .score {
    background-color: blanchedalmond;
}


body, html {
  height: 100%;
}

body {
      /* The image used */
      background-image: url("rock-paper-scissors-seamless-pattern.jpg");
      /* Full height */
      height: 100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #blackBox {
        background-color: black;
        border: solid black;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    display: block;
    margin: 50px auto;
    }

h1 {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto

}