.information, .score {
    background-color: black;
    display: block;
    color: whitesmoke;
    font-size: 30px;
    margin: 14px auto;
/* chciałabym to wyśrodkować */

}


body, html {
  height: 100%;
}

body {
      /* The image used */
      background-image: url("rock-paper-scissors-seamless-pattern.jpg");
      /* Full height */
      height: 100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

#blackBox {
    background-color: black;
    border: solid black;
    border-radius: 20px;
    width: 80%;
    padding: 50px;
    display: block;
    margin: 50px auto auto auto;
    
    }

h1 {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

button.start {
    display: block;
    margin: 20px auto;
    background-color: red;
    color: whitesmoke;
    font-size: 90px;
    border: solid red;
    border-radius: 20px;
    -webkit-box-shadow: 23px 22px 30px -17px rgba(121, 120, 132, 1);
    -moz-box-shadow: 23px 22px 30px -17px rgba(121, 120, 132, 1);
    box-shadow: 23px 22px 30px -17px rgba(121, 120, 132, 1);
    padding: 0 15px;
}

h1, button, .information, .score {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Baloo 2', cursive;
    font-family: 'Montserrat', sans-serif;
}

button.startNewGame {
    display: block;
    margin-left: auto;
    background-color: red;
    color: whitesmoke;
    font-size: 30px;
    border: solid red;
    border-radius: 10px;
    -webkit-box-shadow: 23px 22px 30px -17px rgba(121, 120, 132, 1);
    -moz-box-shadow: 23px 22px 30px -17px rgba(121, 120, 132, 1);
    box-shadow: 23px 22px 30px -17px rgba(121, 120, 132, 1);
    padding: 0 10px;
}

.buttonsContainer, .information2Container {
    display: flex;
    justify-content: center;
}

button.answer {
    font-size: 50px;
    padding: 25px;
    margin: 10px;
    border: solid;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite both alternate;
  background-color: rgba(255, 238, 0, 0.877);
}
  

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;} 
  100% {border-radius: 40% 60%;} 
}
